#Only write dowm parameters instead of specific input or threads

#Assembly:
shasta_cmd = --config Nanopore-May2022.conf
hifiasm_cmd = --hom-cov auto
megahit_cmd= --k-list 21,29,39,59,79,99,119,141 -m 0.8
Trinity_cmd = --seqType fq --max_memory 100G --CPU 6 --full_cleanup

#Protein-coding region calling:
miniprot_cmd = -L 30 -j 1 -G 200k
transdecoder_cmd = -m 100 
cd-hit_cmd = -c 0.85 -M 50000

#Ortholog inference:
orthofinder_cmd = -S diamond

#Supermatix construction:
uniqHaplo_cmd = 
mafft_cmd = --auto --localpair --quiet --maxiterate 1000
HmmCleaner_cmd = --specificity
trimal_cmd = -automated1
BMGE_cmd = -t AA -g 0.2
AlignmentCompare_cmd = 
phylopypruner_cmd = --min-support 0.75 --mask pdist --trim-divergent 0.75 --min-pdist 0.01 --prune MI

#Phylogenetic relationship:
FastTreeMP_cmd = -slow -gamma
iqtree2_cmd = -B 1000 -m MFP
